/* containerdiv */

.logincontainer{
    width: 100%;
    height: 85vh;
    padding-top: 15vh;
    background-color: rgb(253,239,235);
}
.logindiv{
    width: 30%;
    height: 75vh;
    background-color: rgb(249, 249, 252);
    margin: auto;
}

.inputcontainer{
    width: 77%;
    background-color: white;
    padding: 45px;
    height: 40vh;
}
.inputcontainer >div{
    text-align: left;
    color: rgb(66,69,83);
}

/* coupon code image */
.loginpromo{
    width: 100%;
    height: 20vh;
    background-color: rgb(252, 253, 253);
}
.couponcode{
    width: 100%;
    margin: auto;
}
/* login heading */
.spandiv{
    width: 30%;
    display: flex;
    flex-direction: row;
}
.heading{
    font-weight: 600;
    font-size: 22px;
}
.heading1{
    font-weight: 600;
    font-size: 22px;
}
.heading2{
    font-weight: 300;
    font-size: 15px;
    margin: 0px 8px ;
    margin-top: 5px;
}
/* input divs */
.input1{
    width: 30px;
    height: 4.5vh;
    border: none;
    padding: 0px 5px;
    outline: none;
    font-size: 18px;
}
.input2{
    width: 75%;
    height: 4.5vh;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    border-left: 1px solid grey;
}
.inputdiv{
    width: 99%;
    height: 5vh;
    border: 1px solid grey;
    margin-top:15px;
}
/* Terms nd condition */
.terms{
    width: 100%;
    font-size: 15px;
    margin-top: 15px;
}
.conditions{
    font-weight: 400;
    font-size: 15px;
    color: rgb(255,63,108);
    cursor: pointer;
    
}
/* button */

.loginbutton{
    width: 100%;
    height: 5vh;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(255,63,108);
    font-size: 22px;
    cursor: pointer;
    padding: 0px 25px;
    margin-top: 15px;
}

/* after login */
.afterlogin{
    display: flex;
    border: 1px solid black;
    width: 85%;
    margin: auto;
    margin-top: 15vh;

}
.imgfirework{
    padding: 25px;
    width: 20%;
}
.loginbutton1{
    width: 30%;
    height: 5vh;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(255,63,108);
    font-size: 22px;
    cursor: pointer;
}
.loginbutton2{
    width: 30%;
    height: 5vh;
    border: none;
    outline: none;
    margin: 25px;
    color: rgb(8, 8, 8);
    background-color: silver;
    font-size: 22px;
    cursor: pointer;
}