@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300&display=swap');

* {
    font-family: 'Catamaran', sans-serif;
}

.bagNav {
    padding: 20px 0px;
    padding-left: 70px;
    padding-right: 90px;
    display: flex;
    justify-content: space-between;
}

.bagNav div:nth-child(2) {
    margin-top: 3px;
}

.subNav {
    background-color: #03A685;
    padding: 3px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.horPartition {
    display: grid;
    grid-template-columns: 58% 42%;
}

.borderRight {
    border-right: 1px solid rgb(214, 211, 211);
    /* text-align: right; */
    padding-right: 15px;
    padding-top: 30px;
    padding-left: 32%;
}

.pinBox {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(214, 211, 211);
    padding: 15px;
    width: 93%;
    border-radius: 5px;
    margin-bottom: 8px;
}

.pinBox div:nth-child(1) {
    font-weight: 600;
    font-size: 15px;
    margin-top: 5px;
}

.pinBox div:nth-child(2) {
    font-weight: bold;
    font-size: 13px;
    color: #FF3F6C;
    background-color: white;
    border: 1px solid #FF3F6C;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.offer {
    border: 1px solid rgb(214, 211, 211);
    padding: 15px;
    width: 93%;
    border-radius: 5px;
    text-align: left;
    font-size: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 5% auto;
    margin-bottom: 10px;
}

.marginBottom {
    margin-top: -3px;
    font-weight: 600;
}

.modelBtn {
    color: #FF3F6C;
    font-weight: 600;
    cursor: pointer;
}

.offerList li {
    font-size: 13px;
    margin-bottom: 5px;
    color: gray;
}

.shopDetail {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
}

.bagCard {
    border: 1px solid rgb(214, 211, 211);
    padding: 12px;
    width: 94%;
    border-radius: 5px;
    margin-bottom: 8px;
}

/* .padding {
    padding: 10px;
} */

.productDiv {
    display: grid;
    grid-template-columns: 20% auto 20%;
    border-bottom: 1px solid rgb(214, 211, 211);
}

/* .productDiv > div {
    border: 2px solid red;
} */

.productDivSecond {
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
    line-height: 1.5;
}

.productDivThird {
    text-align: right;
    font-size: 15px;
    padding-right: 10px;
    line-height: 1.5;
    padding-top: 10px;
}

.gridBtn {
    display: grid;
    grid-template-columns: 20% 50% auto;
    padding-top: 10px;
    color: rgb(65, 63, 63);
    font-weight: bold;
    font-size: 14px;
}

.removeDiv {
    border-right: 1px solid rgb(214, 211, 211);
}

.cursor {
    cursor: pointer;
}

.addMoreBox {
    border: 1px solid rgb(214, 211, 211);
    margin: 25px;
    width: 92.6%;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-left: 0%;
    padding: 16px;
    padding-bottom: 6px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 6% auto 10%;
    text-align: left;
    font-size: 15px;
}

.addMoreBox div:nth-child(2) {
    margin-top: -2px;
}

.addMoreBox div:nth-child(3) {
    text-align: right;
    margin-top: -2px;
}

.fontBold {
    /* font-size: 15px; */
    font-weight: bold;
}

.font14 {
    font-size: 14px;
}

.gray {
    color: gray;
}

.red {
    color: red;
}

.lineThrough {
    text-decoration: line-through;
}
