.logodiv{
    width: 5%;
    background-color: white;
    vertical-align: middle;
    cursor: pointer;
}
.logo{
    width: 55px;
    background-color: white;
    vertical-align: middle;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    height: 10vh;
    position: fixed;
    padding: 10px 0px;
    top: 0;
    width: 100%;
    z-index: 10;

}

/* Navigation bar links */

.navLinks{
    text-decoration: none;
    color:rgb(40,44,63) ;
    font-size: 15px;
}
.navLinks2{
    text-decoration: none;
    color:rgb(40,44,63) ;
    font-size: 12px;
    margin-left: 20px;
}
.navLinks>h4{
  background-color: white;
}

/* searchBar */
.navserach{
    width: 35%;
    background-color: white;
    margin-left: 0%;
}
.navserach > button{
    width: 90%;
    background-color: whitesmoke;
    margin: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}
.navserach > button >input{
    width: 85%;
    height: 5vh;
    margin-left:10px ;
    background-color: whitesmoke;
    outline: none;
    border: none;
}
.navsearchlogo{
    width: 20px;
    margin-top: 5px;
    background-color: whitesmoke;
}

/* userbar */

.userlogo{
    width: 20px;
    margin-top: 10px;
    padding: 0%;
    cursor: pointer;
}
.userdiv{
    display:  flex;
    width: 15%;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;
}
.userdiv > div {
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
}
.userdiv > div>h5 {
    background-color: white;
    cursor: pointer;
}
.navbar :hover .userdiv{
        background-color: black;
    
}

/* Hover Links */

.hoverdiv{
    width: 25%;
    background-color: rgb(243, 73, 101);
    background-color: pi;
}