.logodiv{
    width: 5%;
    background-color: white;
    vertical-align: middle;
    cursor: pointer;
}
.logo{
    width: 45px;
    padding-top: 18px;
    padding-left: 50px;
    background-color: white;
    vertical-align: middle;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    height: 10.5vh;
    top: 0;
    width: 100%;
    z-index: 10;

}

/* Navigation bar links */

.navLinks{
    text-decoration: none;
    color:rgb(40,44,63) ;
    font-size: 13px;
}
.navLinks2{
    text-decoration: none;
    color:rgb(40,44,63) ;
    font-size: 13.5px;
    margin-left: 20px;
    padding-left: 40px;
}
.navLinks2:hover{
    color:black ;
    font-weight: 600;
    font-size: 14px;
}
.navLinks3{
    padding-left: 40px;
    text-decoration: none;
    color:rgb(243, 73, 101) ;
    font-size: 15px;
    margin-left: 20px;
}
/* .navLinks>h4{
  background-color: white;
} */

/* searchBar */
.navserach{
    width: 32%;
    background-color: white;
    margin-left: 0%;
}
.navserach > button{
    width: 90%;
    background-color: whitesmoke;
    margin: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}
.navserach > button >input{
    width: 85%;
    height: 5vh;
    margin-left:10px ;
    background-color: whitesmoke;
    outline: none;
    border: none;
}
.navsearchlogo{
    width: 20px;
    margin-top: 5px;
    background-color: whitesmoke;
}

/* userbar */

.userlogo{
    width: 20px;
    margin-top: 10px;
    padding: 0%;
    cursor: pointer;
}
.userdiv{
    display:  flex;
    width: 15%;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;
}
.userdiv > div {
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
}
.userdiv > div>h5 {
    background-color: white;
    cursor: pointer;
}
.navbar :hover .userdiv{
        background-color: black;
    
}

/* Hover Links */

.hoverdiv{
    width: 25%;
    background-color: rgb(243, 73, 101);
    background-color: pi;
}
.countnav{
    width: 17px;
    height: px;
    position: fixed;
    padding-bottom: 1.5px;
    top: 0;
    margin-top: 2px;
    margin-left: 18px;
    text-align: center;
    z-index: 11;
    border-radius: 50%;
    color: white ;
    background-color: rgb(243, 73, 101);
}