@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300&display=swap');

* {
    font-family: 'Catamaran', sans-serif;
}

.navMargin {
    margin-top: 95px;
}

.subNav {
    background-color: #03A685;
    padding: 3px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 79px;
}

.heading {
    font-size: 20px;
    color: #282C3F;
    font-weight: bold;
    text-align: left;
    padding-top: 40px;
    padding-left: 70px;
}

.cardCont {
    /* border: 1px solid red; */
    padding: 40px 75px;
    /* width: 230px; */
    display: grid;
    grid-template-columns: 21% 21% 21% 21% 21%;
}

.card {
    width: 230px;
    border: 1px solid #E7E7E7;
    margin-bottom: 50px;
}

.cancelIcon {
    width: 23px;
    height: 23px;
    /* border: 1px solid rgb(29, 29, 29); */
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    margin-left: 198px;
    margin-top: -308px;
    border-radius: 50%;
    color: rgb(29, 29, 29);
}

.cancelIcon div {
    background: none;
    margin-top: -7px;
}

.buttons {
    width: 230px;
    border: 1px solid #E7E7E7;
    border-right: hidden;
    border-left: hidden;
    border-bottom: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #FF3E6C;
    cursor: pointer;
}

.flexPrice {
    /* width: 80%; */
    display: flex;
    justify-content: space-around;
}

.titleFont {
    font-weight: 600;
    color: #282C3F;
}

.mrpFont {
    /* font-weight: 600; */
    color: #282C3F;
    font-size: 14px;
    margin-top: 4px;
    text-decoration-line: line-through;
}

.discountFont {
    font-weight: 600;
    color: #FF905A;
    font-size: 14px;
    margin-top: 4px;
    /* text-decoration-line: line-through; */
}

.countFont {
    font-weight: 300;
    color: #282C3F;
    font-size: 18px;
}

.btnCntShop {
    color: #2057e2;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 45px;
    border-radius: 5px;
    border: 1px solid #194fd6;
    cursor: pointer;
}

.modelBg {
    width: 100%;
    height: 100vh;
    background-color: rgb(177, 170, 170);
    opacity: 50%;
    position: fixed;
    top: 0;
}

.modelCard {
    width: 370px;
    /* border: 1px solid red; */
    background-color: white;
    position: fixed;
    top: 0;
    margin-left: 550px;
    margin-top: 190px;
    padding: 25px;
    border-radius: 5px;
}

.flexModel {
    display: grid;
    grid-template-columns: 18% auto;
}

.align {
    text-align: left;
}

.marginLeft {
    margin-left: 15px;
}
.font16 {
    font-size: 17px;
}

.gray {
    color: rgb(155, 152, 152);
}

.sizeDiv {
    width: 40px;
    height: 40px;
    border: 1px solid;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    color: grey;
}

.sizeDiv div {
    background: none;
    margin-top: 6px;
}

.sizeDiv:hover {
    border: 1px solid #FF3E6C;
    color: #FF3E6C;
}

.sizeSelectedDiv {
    width: 40px;
    height: 40px;
    /* border: 1px solid; */
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    /* color: grey; */
    border: 1px solid #FF3E6C;
    color: #FF3E6C;
}

.sizeSelectedDiv div {
    background: none;
    margin-top: 6px;
}



/* .sizeSelect {
    border: 1px solid #FF3E6C;
    color: #FF3E6C;
} */

.gridBtn {
    display: grid;
    grid-template-columns: auto auto auto auto auto 80%;
    column-gap: 10px;
}

.doneBtn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 100px;
    background-color: #FF3E6C;
    color: white;
    cursor: pointer;
}
/* 
.doneBtn:hover {
    transform: rotate(0.25turn);
    transform: scale(0.5) translate(-100%, -100%);
} */

.closeModel {
    width: 23px;
    height: 23px;
    border: 1px solid grey;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    position: fixed;
    top: 0;
    margin-left: 920px;
    margin-top: 215px;
    border-radius: 50%;
    color: grey;
}

.closeModel div {
    background: none;
    margin-top: -7px;
}

.deleteDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* grid-template-columns: 13% auto; */
    width: 290px;
    height: 40px;
    /* background-color: red; */
    border: 4px solid black;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 145px;
    right: 50px;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 10px;
    /* transform:rotate(0.25turn) */
}

.modelStyle {
    margin-top: 3px;
    font-size: 20px;
    color: black;
}

.marginTop {
    margin-top: 6px;
}

.withoutSizeDiv {
    /* display: grid;
    grid-template-columns: 27% auto; */
    display: flex;
    flex-direction: row;
    border: 4px solid black;
    justify-content: space-around;
    width: 240px;
    height: 40px;
    /* background-color: #FE1118; */
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 145px;
    right: 627px;
    padding: 7px;
    border-radius: 6px; 
    /* color: white; */
    font-size: 17px;
}

.borderRadius img {
    border-radius: 50%;
}

.movedToBagDiv {
    /* display: grid;
    grid-template-columns: 10% auto 25%; */
    display: flex;
    flex-direction: row;
    border: 4px solid black;
    justify-content: space-around;
    width: 370px;
    height: 40px;
    /* background-color: black; */
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 145px;
    right: 50px;
    padding: 10px;
    border-radius: 6px;
    /* color: white; */
    font-size: 17px;
}

.viewBagBtn {
    padding: 3px 8px;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
}

.seller {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}